@import "./src/styles/variables";


.service-page-container {
    display: flex;
    justify-content: center;
    gap: 65px 90px;
    padding: 80px 50px;

    .service-page-title {
        color: $primary-color;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 40px;
    }

    .service-page-p {
        font-family: $primary-font;
        font-weight: 400;
        margin-top: 20px;
        font-size: 20px;
        max-width: 700px;
        line-height: 26px;
        word-spacing: 2px;
        color: rgba(0,0,0,0.87);
    }

    .service-page-mini-title {
        font-family: $primary-font;
        font-weight: 450;
        letter-spacing: -0.5px;
        color: $primary-color;
        font-size: 17px;
        color: rgb(129, 126, 126);
    }

    .service-page-contact-p {
      color: rgba(0,0,0,0.85);
      margin-top: 15px;
        max-width: 640px;
        font-family: $primary-font;
        font-weight: 500;
        font-size: 27px;
        line-height: 35px;
        color: $primary-color;
    }

    .service-link-button {
        text-decoration: none;
      }

    .service-page-button-container {
        .service-page-button {
            background-color: rgb(21, 121, 130);
            color: white;
            font-size: 15px;
            padding: 12px 20px;
            margin-top: 20px;
            border-radius: 10px;
            border: 1px solid white;
            font-family: $primary-font;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 7px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: color 0.3s;
          }

       
          
          .service-page-button::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            text-decoration: none;
            background-color: #054b4d;
            transition: width 0.3s;
            border-radius: 10px;
            z-index: 0;
          }          
          .service-page-button:hover::before {
            width: 100%;
          }
        }
    

    .service-page-img {
        object-fit: cover;
        height: 500px;
        width: 500px;
        border-radius: 10px;

    }
}

@media(max-width:1360px) {
  .service-page-container {
    flex-wrap: wrap;

    .service-page-img {
        width: auto;
        max-width: 700px;
    }
  }
}

@media(max-width:820px) {
    .service-page-container {
      padding-top: 60px;
        .service-page-img {
            max-width: 100%;
            height: auto;
        }
    }

}
@media(max-width:520px){
  .service-page-container{
    gap: 35px;
    padding-bottom: 60px;
    .service-page-title{
      font-size: 30px;
    }
    .service-page-p{
      font-size: 16px;
    }
    .service-page-contact-p{
      font-size: 22px;
      line-height: 27px;
    }
  }


}