@import "./src/styles/variables";


.motto-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
   z-index: 11;
   background: white;

   .title-photo-main-container {
      padding: $mobil-padding;
      display: flex;
      justify-content: center;
      gap: 0px 100px;
      flex-wrap: wrap-reverse;

      .motto-content-container {
         max-width: 1300px;
      }

      .title-p-container {
         display: flex;
         flex-direction: column;
         gap: 28px;
         margin-top: 35px;

         .main-title {
            color: $secondary-color;
            font-family: $primary-font;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: -0.7px;
         }

         .motto-p {
            font-family: $primary-font;
            font-size: 21px;
            letter-spacing: -0.7px;
            font-weight: 400;
         }

         .title-photo-p {
            font-family: $primary-font;
            color: black;
            font-size: 17px;
            font-weight: 300;
         }
      }

      .motto-photo {
         object-fit: contain;
         max-height: 430px;
         max-width: 100%;
      }
   }

   .insta-svg-container {
      display: flex;
      justify-content: space-between;
      padding: 20px 75px 20px 50px;
      align-items: center;
      margin-bottom: 20px;

      .social-media-p {
         font-family: $primary-font;
         font-size: 30px;
         letter-spacing: -0.7px;
         font-weight: 500;
         color: #484e55;
      }

      .social-media-svg-container {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 15px;
      }

   }
}


@media(max-width:1370px) {
   .insta-svg-container {
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      margin-top: 10px;

      .social-media-p {
         text-align: center;
      }

   }
}

@media(max-width:650px) {

   .motto-container {
      .title-photo-main-container {
         padding: $mobil-padding;
         padding-top: 30px;
         padding-bottom: 30px;

         .title-p-container {
            gap: 23px;
         }
      }


   .insta-svg-container {
      padding-top: 0;
      margin: 0;
      padding-bottom: 30px;
      gap: 20px;
      .social-media-p {
         text-align: center;
         font-size: 29px;
      }

   }
}
}