$primary-font: Work Sans;
$primary-color: rgb(12, 72, 75);

.contact-container {
  font-family: $primary-font;
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contact-page-content-container {
    display: flex;
    gap: 35px 80px;

    .contact-title {
      font-family: $primary-font;
      font-weight: 600;
      font-size: 30px;
      color: $primary-color;
    }

    .contact-info {
      display: flex;
      font-weight: 450;
      gap: 20px;
      padding-bottom: 10px;
      align-items: center;
      padding-bottom: 30px;
    }

    .contact-map {
      width: 100%;
      margin-top: 50px;
      border-radius: 7px;
      border: none;
    }

    .contact-p {
      font-weight: 400;
      padding: 15px 0;
      font-size: 17px;
      max-width: 370px;
    }

    .contact-btn-container {
      margin-top: 5px;
      gap: 20px;
      display: flex;

      .contact-btn {
        background-color: rgb(21, 121, 130);
        color: white;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        transition: 0.3s;
        cursor: pointer;
  
        .contact-btn-text {
          color: white;
          text-decoration: none;
          font-family: $primary-font;
        }

        &:hover {
          background-color: $primary-color;
          .contact-btn-text {
            color: white;
          }
        }
      }
    }
  }
}

@media(max-width:700px){
  .contact-container {
    .contact-page-content-container {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }
}


