$primary-font: Work Sans;

.workshops-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 100px 50px;
  font-family: $primary-font;
  


  .workshop-wrapper {
    display: flex;
    gap: 50px;
  }

  .reverse-wrapper {
    flex-direction: row-reverse;
  }

  .workshop-photo {
    object-fit: contain;
    height: 330px;
  }

  

  .workshops-title-container {
    padding-bottom: 25px;
    

  }

  .workshops-title{
    width: 600px;
    font-size: 23px;
    margin-bottom: 20px;
  }

  .workshops-title2{
    font-size: 20px;
    font-weight: 500;
  }
  // details {
  //   margin: 5px;
  //   font-size: 18px;
  //   transition: max-height 400ms ease-out;

  //       max-height: 150px; /* Set a max-height value just enough to show the summary content */
  //       overflow: hidden;
  // }
  // details > * {
  //   padding: 15px;
  // }

  .workshop-accordion{
    display:grid;
    row-gap: 15px;

    .workshop-accordion-text {
      font-size: 15px;
      // background-color: #f5f5f5;
      border-style: none none solid;
      border-width: 2px;
      max-width: 450px;
      padding: 15px 0;
    }
  
    .close-accordion {
      max-height: 23px;
      // transition: all 0.2s ease-in-out;
      overflow: hidden;
      margin-top: 10px;
    }
  
    .open-accordion {
      transition: all 0.6s ease-in-out;
       margin-top: 10px;
       max-height: 250px;
       overflow: hidden;
    }
  }

  

 

 

  // summary {
  //   border-style: solid none;
  //   margin-bottom: 3px;
  //   border-width: 1px;
  //   font-size: 18px;
  //   font-weight: 600;
  //   color: #000000;
  //   cursor: pointer;
  //   position: relative;
  //   transition: 0.3s;
  //   text-indent: 0px;
  //   transition: all 0.3s ease;

  // }

  // summary::before {
  //   content: "";
  //   position: absolute;
  //   inset: 17px;
  //   left: auto;
  //   aspect-ratio: 1;
  //   background: conic-gradient(from 90deg at 26% 26%, #0000 90deg, #000000 0)
  //     100% 100%/58% 58%;
  //   clip-path: inset(1px);
  //   transition: all 0.3s ease;
  // }
  // details[open] summary::before {
  //   transform: rotate(45deg);
  //   transition: all 0.3s ease;

  // }
  // details[open] summary {
  //   background: #e4e4e4;
  //   text-indent: 1rem;
  //   transition: all 0.3s ease;

  // }
}
