// @import "../styles/variables";
@import "./src/styles/variables";

.header-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url("/new-header-bg.jpg");
    background-position: unset;
    background-size: cover;
    width: 100vw;
}


.header-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 90px 50px;
    gap: 20px 30px;
    height: 100%;
    z-index: 10;
}

.header-p-button-container {
    margin-top: 20px;
    margin-left: 40px;

}

.header-title {
    color: rgb(12, 72, 75);
    font-size: 40px;
    font-family: $primary-font;
    margin-bottom: 20px;
    font-weight: 600;
    max-width: 430px;
}

.header-p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-family: $primary-font;
    font-weight: 400;
    line-height: 24px;
    word-spacing: 2px;
    max-width: 460px;
}


.header-person {
    z-index: 1;
    max-width: 825px;
    object-fit: cover;
    height: 550px;
    padding-top: 50px;
}


.header-button {
    background-color: rgb(12, 112, 120);
    color: white;
    padding: 17px 27px;
    margin-top: 22px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: Work Sans;
    cursor: pointer;
    font-size: 14px;
}



@media(max-width:1330px) {
    .header-container {
        background-position: center;
        .header-content-container {
            flex-wrap: wrap;
            padding: 30px 50px 0px 50px;

        }
    }

    .header-p-button-container {
        margin-top: 40px;
        margin-left: 0px;
    }


}


@media(max-width:850px) {
    .header-person {
        z-index: 1;
        max-width: auto;
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
}

@media(max-width:550px) {
    .header-container {
        .header-content-container {
            flex-wrap: wrap;
            padding: 20px 30px 0 30px;

        }
    }

    .header-person {
        padding-top: 20px;
    }

    .header-p-button-container {
        margin-top: 30px;
    }

    .header-title {
        font-size: 33px;
        max-width: 360px;
    }

    .header-p {
        max-width: 380px;
    }
}
