$primary-font: Work Sans;

.header-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
    z-index: -1;
    padding: 20px;
    padding-top: 50px;
}

.header-content-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    z-index: 10;
    flex-wrap: wrap;
}

.header-p-button-container {
    margin-top: 20px;
}

.header-title {
    color: rgb(12, 72, 75);
    font-size: 40px;
    font-family: $primary-font;
    margin-bottom: 17px;
    font-weight: 550;
}

.header-p {
    color: black;
    font-size: 20px;
    font-family: $primary-font;
    font-weight: 400;
}

.header-back-left {
    height: 80%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.header-green {
    object-fit: contain;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

.header-person {
    z-index: 1;
    height: 420px;
    object-fit: contain;
}


.header-button {
    background-color: rgb(19, 112, 120);
    color: white;
    padding: 17px 27px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: Work Sans;
    font-size: 14px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1000;
    &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background: #f7f7f7;
        z-index: 20;
    }

    &:hover {
        cursor: pointer;
        &:after {
            width: 100%;
            left: 0;
        }
    }
}
