
.navbar-logo-title-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-logo {
    object-fit: contain;
    border-radius: 50%;
    height: 70px;
}

.navbar-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 11px 40px;
    align-items: center;
    background-color: rgb(19,112,120);
    font-family: Work Sans;
    color: white;
    border-bottom: 2px solid white;
}

.navbar-center-content{
    display: flex;
    gap: 50px;
    font-size: 18px;
    cursor: pointer;
}

.navbar-svg-container{
    display: flex;
    gap: 10px;
    align-items: center;
}