@import "./src/styles/variables";

.no-scroll{
    overflow-y: hidden;
    scroll-behavior: none;
}

.sidebar-container {
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     z-index: 12;
     height: 100vh;
     overflow: hidden;
     scroll-behavior: none;

     .sidebar-links-container {
        background-color: $primary-color;
        padding: 40px 80px;
        position: relative;

        .sidebar-link-icon-container {
            width: 160px;
            justify-content: space-between;
            display: flex;
        }

      
      
        @media(max-width:1100px){
            .dropdown-icon{
                display: block;
                margin-right: 7px;
            }

            .dropdown-component-container {
                top: 0px;
                left: 160px;
            }
            .navbar-dropdown-container::before {
                display: none;
            }
        }

        @media(max-width:640px){
            .sidebar-social-container {
                display: flex;
                gap: 6px;
                align-items: center;
    
            }    
        }
     }

     .sidebar-closer {
        background-color: $primary-color;
        border-radius: 50%;
        padding: 5px 7px;
        position: absolute;
        top: 10px;
        right: -70px;
        z-index: 10;
     }
   
    .sidebar-links {
        display: flex;
        gap: 25px;
        flex-direction: column;

        .navbar-link{
            font-size: 20px;
        }
    }

    .navbar-dropdown-p {
        height: auto;
    }

    .sidebar-not-blurer{
        width: 100vw;
        backdrop-filter: blur(0px);
        // transition: all 0.8s ease-in-out;
        transition: backdrop-filter 1s ease-in-out ;
  
    }

    .sidebar-blurer {
        width: 100vw;
        backdrop-filter: blur(3px);
        transition: backdrop-filter 1s ease-in-out;
        transition-delay: 0.5s; 
        pointer-events: none;
   

    }
}