@import "./src/styles/variables";

.contact-us-container {
  display: flex;
  padding: 70px 15px;
  justify-content: center;
  align-items: center;
}

.contact-content-container {
  display: flex;
  gap: 50px;
  max-width: 1500px;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.cu-sticker {
  object-fit: contain;
  max-height: 500px;
  width: 100%;
}


.cu-text-container {
  max-width: 660px;


  .cu-title {
    font-weight: 600;
    font-family: $primary-font;
    margin-bottom: 15px;
  }

  .cu-text {
    font-size: 19px;
    font-family: $primary-font;
  }


  .cu-mid-title {
    font-weight: 500;
    font-family: $primary-font;
    margin-bottom: 15px;
  }
}



.cu-button-container {
  background-color: rgb(21, 121, 130);
  color: white;
  font-size: 15px;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid white;
  font-family: $primary-font;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

.cu-button-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #054b4d;
  transition: width 0.3s;
  border-radius: 10px;
  z-index: 0;
}

.cu-button-container:hover::before {
  width: 100%;
}

.button-text,
.button-arrow {
  z-index: 1;
  text-decoration: none;
  font-family: $primary-font;
}