
.footer-container{
  background-image: url("/footer bg.jpg");
  background-repeat: no-repeat;
  background-size:cover; 
  background-position: center;
  display: flex;
  gap: 150px;
  align-items: center;
}

.footer-logo{
  height: 300px;
}

.footer-phoneNo,
.footer-address,
.footer-email{
  display: flex;
  padding-left: 160px;
  gap: 10px;
  padding-bottom: 10px;
}

.footer-phoneNo,
.footer-address,
.footer-email p{
  color: white;
  font-size: 15px;
  font-family: Work Sans;
  padding-top: 2px;
}

.footer-address p{
  padding-top: 2px;
}

.footer-social-container{
  display: flex;
  gap: 15px;
}

.footer-social{
 //border: 2px solid rgb(255, 255, 255);
 //border-radius: 50%;
  justify-content: center;
  align-items: center;
  //padding: 10px 10px 0 10px;
}
.footer-courses-services-container{
  color: white;
  font-family: Work Sans;
  
}
.footer-courses-services-title{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
.footer-courses-services-index{
  font-size: 15px;
  margin-bottom: 35px;
}
.footer-courses-services-index p{
  margin-bottom: 3px;
}



