.footer-container {
  background-image: url("/back adra.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 50px 75px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .footer-main-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    gap: 60px;
  }

  .footer-link {
    text-decoration: none;
    color: white;
  }

  .footer-second {
    margin-bottom: 78px;
  }

  .footer-third {
    margin-bottom: 56px;
  }


  @media(max-width:730px) {
    .footer-second {
      margin-bottom: 0px;
    }

    .footer-third {
      margin-bottom: 0px;
    }
  }

  .footer-content-container {
    display: grid;
    gap: 10px;
  }
}

.footer-logo {
  height: 300px;
  object-fit: cover;
  width: 300px;
}

.footer-svg-p-container {
  display: flex;
  margin-left: 4px;
  gap: 10px;
  padding-bottom: 5px;
  align-items: center;
}

.footer-p {
  color: white;
  font-size: 17px;
  font-family: Work Sans;
}

.footer-social-container {
  display: flex;
  gap: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer-courses-services-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
  color: white;
  font-family: Work Sans;
}

.footer-courses-services-index {
  font-size: 15px;
  margin-bottom: 35px;
}


@media(max-width:1310px) {
  .footer-container {
    .footer-main-content-container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 80px;
    }
  }
}

@media(max-width:780px) {
  .footer-container{
    .footer-second {
      margin-bottom: 0;
    }
  } 

}


@media(max-width:1370px) {

  .footer-content {
    justify-content: center;
    gap: 60px;
  }

  .footer-content-container {
    width: 275px;
  }

}