*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    overflow-x: hidden;
}

:root {
    --svg-color-light: #000;
    --svg-color-dark: #fff;
  }
  [data-theme="light"] .hamburger-container {
    fill: var(--svg-color-light);
  }
  [data-theme="dark"] .hamburger-container {
    fill: var(--svg-color-dark);
  }