.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 25px;
}

.slide-page-container {
  background-image: url("/adra back2.png");
  background-size:cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.slide-container img {
  height: 535px;
  object-fit: contain;
  border-radius: 5px;

}
.slide-title {
  font-family: Work Sans;
  font-size: 60px;
  color: rgb(11, 72, 75);
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 15px;
  margin-top: 35px;
  

}

.button-prev-slide,
.button-next-slide {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slide-page-container:hover .button-prev-slide,
.slide-page-container:hover .button-next-slide {
  opacity: 1;
}


.button-next-slide {
  right: 110px;

}

.button-prev-slide {
  left: 110px;
}



.slide-page-container {
  padding: 50px 0 50px 0;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  z-index: 1;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: #fff;
  width: 11px;
  height: 11px;

}