.programs-title{
    font-family: Work Sans;
    font-size: 40px;
    color: rgb(11, 72, 75);
    margin-bottom: 25px;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding: 10px;
}