@import "./src/styles/variables";

.programs-container {
  background: rgb(34, 149, 161);
  background: linear-gradient(to bottom, rgba(34, 149, 161, 1) 1%, rgba(12, 72, 76, 1) 100%); 
 
  padding-bottom: 65px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .programs-background-container {
    position: absolute;
    z-index: 1;

    .programs-background-img {
      object-fit: contain;
      width: 100vw;
    }
  }
}

.programs-content-container{
  max-width: 1280px;
  position: relative;
  z-index: 10;
}

.programs-main-title-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 70px 20px 50px 0px;

  .programs-main-title {
    font-family: Work Sans;
    font-size: 17px;
    color: white;
    opacity: 1;
    letter-spacing: -0.7px;
    font-weight: 500;
    margin-left: 2px;
  }

  .programs-main-text {
    font-family: $primary-font;
    font-size: 40px;
    color: white;
    margin-top: 2px;
    max-width: 615px;
    font-weight: 600;
  }
}

.courses-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: stretch;

  padding-bottom: 40px;

  .programs-wrapper:hover .programs-img {
    transform: scale(1.08);
  }

  .programs-wrapper {
    margin-bottom: 25px;
    padding-top: 40px;
    width: 275px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    height: 400px;
    padding: 20px;
    overflow: hidden;
    

    .programs-img {
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 1;
      border-radius: 10px;
      filter: brightness(65%);
      background-size: cover;
      transition: all 1s ease-out;
    }

    .programs-content-container {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;


      .courses-title {
        color: white;
        font-size: 33px;
        font-family: $primary-font;
        z-index: 10;
        text-align: center;
        font-weight: 500;
      }

      .programs-bottom-content-container {
        display: grid;
        gap: 2px;

        .programs-link {
          text-decoration: none;
          color: white;
        }

        .programs-svg-p-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .programs-button {
          width: 100%;
          padding: 10px 20px;
          border-radius: 7px;
          margin-top: 7px;
          color: white;
          background-color: rgba(0, 0, 0, 0.8);
          backdrop-filter: blur(2px);
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          transition: all 250ms;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          font-size: 17px;
          cursor: pointer;
          transition: all 0.2s linear 0s;
          font-family: $primary-font;

          &:before {
            content: "\f054";
            font-family: FontAwesome;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 30px;
            background-color: rgba(11, 73, 75);
            border-radius: 0 50% 50% 0;
            transform: scale(0, 1);
            transform-origin: left center;
            transition: all 0.2s linear 0s;
          }

          &:hover {
            text-indent: 30px;

            &:before {
              transform: scale(1, 1);
              text-indent: 0;
            }
          }
        }

        .programs-button:hover {
          box-shadow: rgba(11, 72, 75) 0 -25px 18px -14px inset, rgba(31, 59, 42, 0.15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(41, 99, 63, 0.15) 0 4px 8px, rgba(31, 80, 50, 0.15) 0 8px 16px, rgba(43, 102, 65, 0.15) 0 16px 32px;
        }

        .programs-p {
          font-family: $primary-font;
          color: white;
          font-size: 21px;
        }
      }
    }
  }
}


@media(max-width:1240px){ 
  .courses-container {
    flex-wrap: wrap;
  }

  .programs-main-title-container{ 
    justify-content: center;
    text-align: center;
  }
}

@media(max-width:1110px){
  .programs-main-title-container{
    flex-wrap: wrap;
    padding:$mobil-padding;

    .programs-side-text {
      max-width: 615px;
      margin-top: 0;
    }
  }
}


/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

// .course-details::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   opacity: 0.6;
//   /* Adjust opacity as needed */
//   z-index: 1;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: top;
// }